.mat-selection-list {
  background-color: #272727;
  color: white;
}

.mat-list-option:hover {
  background-color: #303030;
}

.mat-divider {
  color: white;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #606060;
  padding: 0;
}
