<div id="digreg-container" fxLayout.lt-md="column" fxLayout.gt-sm="row">
  <div class="card-container">
    <mat-card style="margin-bottom: 10px;" color="#1e1e1f">
      <mat-card-header>
        <mat-card-title>Overview</mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding-left: 18px; padding-top: 30px; font-size: 1rem;">
        <p>Average: {{average}}</p>
        <p>Best: {{bestSubjectName}} ({{bestSubject}})</p>
        <p>Worst: {{worstSubjectName}} ({{worstSubject}})</p>
      </mat-card-content>
    </mat-card>
    <mat-card style="margin-top: 10px;" color="#1e1e1f">
      <mat-card-header>
        <mat-card-title>
          Graph
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="graph-container">
        <div style="height: 30px;"></div>
        <app-mark-chart [chartHeight]="'88%'"></app-mark-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="list-container">
    <mat-list>
      <mat-list-item *ngFor="let subject of grades">
        {{subject?.subject}}<span *ngFor="let grade of subject?.grades" matTooltip="{{grade.weight}}%">{{grade?.grade}}
        </span>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
